h3 PROFILE AND BALANCE
.row
  .col-xs-4.col-xs-offset-2
    h2 Balance: {{balance | currency}}
  .col-xs-4
    form(name='balanceForm')
      .form-group
        label(for='deposit')
        input.form-control(type='number' name='deposit' ng-model='depositAmt')
      .form-group
        button.form-control(ng-click='makeDeposit(depositAmt)') Make Deposit
hr
.row
  .col-xs-3
    form(name='profileInfoForm')
      .form-group
        label(for='name') Name
        input.form-control(type='text' ng-model='profile.name')
      .form-group
        label(for='age') Age
        input.form-control(type='number' ng-model='profile.age')
      .form-group
        label(for='gender') Gender
        select.form-control(ng-model='profile.gender')
          option female
          option male
  .col-xs-3
      .form-group
        label(for='address')
        textarea.form-control(rows='3' name='address' ng-model='profile.address')
      .form-group
        label(for='photo') Photo
        input.form-control(type='url' ng-model='profile.photo')
      .form-group
        button.btn.btn-info(ng-click='updateProfile()') Update Profile
  .col-xs-3.center-text
    h1 Name: {{profile.name}}
    h2 Age: {{profile.age}}
    h3 Gender: {{profile.gender}}
    h3 Address:
    pre
      p(ng-repeat='addressLine in addressArray') {{addressLine}}
  .col-xs-3
    img.img-responsive(ng-src='{{profile.photo}}')
